<div class="blog blog-summary">
  {{ if .Params.thumbnail }}
  <div class="blog-image">
    <a href="{{ .RelPermalink }}"><img src="{{ .Params.thumbnail | relURL }}"/></a>
  </div>
  {{ end }}
  <div class="blog-content">
    <h2 class="blog-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ .Content | truncate 120 "..." | plainify }}
  </div>
</div>